################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
"QR Code Generator"/bin/
"QR Code Generator"/obj/